/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: 'Roboto', sans-serif;
  background: url(../img/bg.jpg) repeat;
  color: #808080;
}

.load {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: url(../img/loading.gif) no-repeat center center #000;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  z-index: 999;
  pointer-events: none;
}

.leaflet-top, .leaflet-bottom {
  z-index: 100 !important;
}

body.loading .load{
  opacity: .7;
}

.masthead {
  min-height: 400px;
  position: relative;
  overflow:hidden;
}

#logo {
  position: absolute;
  left: 0px;
  bottom: -10px;
  z-index: 1000;
}
#small-logo {
  position:relative;
}
#small-logo img {
  position:absolute;
  left: -50px;
}
.divider {
  height: 500px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#menubar ul {
  margin-right: 200px;
}

#nav {
  width: 100%;
  position: static;
  top: -32px;
}

#nav.affix {
 position: fixed;
 top: 0;
 z-index: 10;
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float: none;
  }
}

.navbar-nav {
  margin: 1px 1px;
}

/* customize nav style */
.navbar-custom {
  background-color: #575760;
  text-transform: uppercase;
  border-width: 0;
}
.navbar-custom  .navbar-nav>li>a {
	color: #f2f2f2;
}
.navbar-custom  .dropdown-menu li>a:hover {
	color: #fff;
}
.navbar-custom  .navbar-nav li>a:hover {
  background-color: #3f3f45;
}
.navbar-nav li .open,
.navbar-custom .navbar-nav .active a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #318fb5;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #318fb5;
	border-bottom-color: #318fb5;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
  overflow-y: visible;
}

.navbar-toggle {
	outline: 0;
}

.social-icon  {
  background-image: url(../img/social-icons.png);
  background-position-y: 0px;
  width: 30px;
  height: 30px;
  margin: 10px;
}
.social-icon:hover  {
  text-decoration: none;
}
.social-fb {
  background-position-x: 60px;
}
.social-gh {
  background-position-x: 0px;
}
.social-tw {
  background-position-x: 30px;
}

.scroll-top {
 position: fixed;
 bottom: 0;
 right: 6%;
 z-index: 100;
 background: #f2f3f2;
 font-size: 24px;
 border-top-left-radius: 3px;
 border-top-right-radius :3px;
}

/* ****** Side panel ******* */

#sidepanel {
  position:absolute;
  right: -245px;
  width: 260px;
  height: 100%;
  background: url(../img/side-panel-bg.png) repeat-y;
}
#sidepanel .container {
  position:relative;
} 
#toggle_panel {
  position:absolute;
  top:0px;
  left: -21px;
  cursor:pointer;
}

